@import url(https://fonts.googleapis.com/css?family=Lato);

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

a {
  color: #1bafe0;
  text-decoration: none;
}

a:hover {
  color: #158cb3;
}

body {
  background: #60c0e1;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  height: 100%;
}

button {
  background: #60c0e1;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 5px 8px;
  border-bottom: 4px solid #106986;
}

button[disabled] {
  background: #9FD0E0;
  border-bottom: 4px solid #5495AB;
}

.App {
  height: 100%;
}

.AppContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.PageContent {
  flex: 1;
  background: #F4F4F4;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  overflow: auto;
  padding: 15px 50px;
  text-align: center;
}

.PageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1em 1.5em;
}

.NavigationLink {
  display: block;
  float: left;
  color: #dcf3fa;
  line-height: 28px;
  padding: 4px 12px;
  margin-left: 8px;
  border-radius: 4px;
  transition: all .15s ease-in-out
}

.NavigationLink:hover {
  color: white;
  background: rgba(0, 0, 0, 0.05)
}

.Hero {
  position: relative;
  text-align: center;
  padding: 6em 0;
  background: #60c0e1;
}

.HeroLeftHand, .HeroRightHand {
  position: absolute;
  top: 6em;
  height: 171px;
  width: 300px;
  margin: 0;
}

.HeroLeftHand {
  left: -1px;
}

.HeroRightHand {
  right: -1px;
}

.Hero h1 {
  max-width: 500px;
  line-height: 1.2em;
  font-size: 3em;
  font-weight: normal;
  margin: 0 auto 0.2em;
}

.Hero p {
  max-width: 500px;
  line-height: 1em;
  margin: 0 auto 1em;
  font-size: 1.6em;
  font-weight: bold;
  color: #106986;
}

.SearchBox {
  position: relative;
  width: 540px;
  padding: 8px 0;
  margin: 0 auto;
}

.SearchBox input {
  -webkit-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s;
  font-size: 18px;
  line-height: 22px;
  padding: 0 16px;
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  color: black;
  box-sizing: border-box;
}

.SearchBox button {
  background-image: url('./assets/icon-search.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50%;
  height: 50px;
  color: #fff;
  text-indent: -9999em;
  border-radius: 0 5px 5px 0;
  border: none;
  font-size: 18px;
  padding: 0 1.5em;
  position: absolute;
  top: 8px;
  right: 2px;
  -webkit-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s
}

.SearchBox button:hover {
  background-color: transparent;
  opacity: .8
}

.FormBox {
  background: white;
  border-bottom: 4px solid #e5e5e5;
  border-radius: 4px;
  color: #000;
  padding: 20px 40px 40px 40px;
}

.SignupForm,
.LoginForm {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.SignupForm *,
.LoginForm * {
  margin-bottom: 7px;
  padding: 5px;
  height: 35px;
}

.SignupForm input,
.LoginForm input {
  color: black;
}

.SignupForm button,
.LoginForm button {
  height: 45px;
}

.List {
  list-style-type: none;
  width: 70%;
  margin: 0;
  display: inline-block;
}

.List li {
  background: white;
  padding: 15px 30px;
  margin-bottom: 10px;
  text-align: left;
  color: black;
  border-bottom: 4px solid #e5e5e5;
  border-radius: 4px;
  color: black;
  overflow: auto;
  vertical-align: middle;
}

.List li:last-child {
  margin-bottom: 0px;
}

.ProductList {
  width: 50%;
}

.ListItem {
  display: flex;
}

.ListItemImage {
  flex: none;
  height: 100px;
  width: 100px;
  margin-right: 15px;
  border-radius: 4px;
}

.ListItemName {
  flex: 1;
}

.ListItemSubcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.ListItemPrice {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  color: #000;
  background-color: #E7E7E7;
  text-shadow: 1px 1px 1px #FFF;
  font-weight: bold;
  font-size: 1.0em;
  text-indent: -6px;
  position: relative;
}

.ListItemPrice::before {
  content: "";
  position: absolute;
  top: 0;
  left: -17px;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 17px solid #E7E7E7;
}

.ListItemPrice::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 85%;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #cecece;
  box-shadow: inset -1px 1px 0 #8e8e8e;
}

.CartButton {
  flex: none;
  align-self: flex-end;
}

.Cart {
  background: white;
  background-position: center; 
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 20%;
  margin-left: 10px;
  padding: 15px 30px;
  color: black;
  border-bottom: 4px solid #e5e5e5;
  border-radius: 4px;
  vertical-align: top;
}

.CartProductLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CartProductLine button {
  background: none;
  border: none;
  color: #E7E7E7;
}

.CartProductLine button:hover {
  color: red;
}

.CartBottomLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px dashed #E7E7E7;
}

.CartBottomLine div {
  font-size: 1.0em;
  font-weight: bold;
}

.PageFooterWrapper {
  border-top: 1px solid rgba(255,255,255,0.15);
  padding: 3em 0;
}

.PageFooter {
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 0 0 20px;
  font-size: .875em;
  line-height: 1.6em;
}
